<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="./img/brand/favicon.ico" type="image/x-icon" />
  <!-- Title -->
  <title>Bite Route</title>
  <!-- CSS -->
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <!-- header -->
  <header>
    <div class="topContainer">
      <div class="lowerContainer"></div>
      <div class="upperContainer">
        <div class="leftContainer">
          <div class="logoContainer">
            <img src="./img/brand/logoTransparent.png" alt="Bite Route" draggable="false" />
          </div>
        </div>
        <div class="rightContainer">
          <% if (data.loggedIn) { %>
            <div class="btn_loggedContainer">
              <a href="explore"><button class="topBtns topdiffBtn">Explore</button></a>
              <div class="userContainer">
                <p>Welcome <span>
                    <%= data.name %>
                  </span></p>
                <a href="/logout">Logout</a>
              </div>
            </div>
            <% } else { %>
              <div class="btnsContainer">
                <a href="signIn"><button class="topBtns topBtn">Sign In</button></a>
                <a href="explore"><button class="topBtns topdiffBtn">Explore</button></a>
                <a href="login"><button class="topBtns topBtn">LogIn</button></a>
              </div>
              <% } %>
        </div>
      </div>
    </div>
  </header>

  <!-- main -->
  <main>
    <section class="mainSection">
      <div class="containers">
        <div class="imgContainers">
          <img src="./img/brand/food.svg" alt="" />
        </div>
        <div class="nameContainers">
          <h3>Freshly Prepared</h3>
        </div>
      </div>
      <div class="containers">
        <div class="imgContainers">
          <img src="./img/brand/delivery.png" alt="" />
        </div>
        <div class="nameContainers">
          <h3>Rapid Delivery</h3>
        </div>
      </div>
      <div class="containers">
        <div class="imgContainers">
          <img src="./img/brand/deals.png" alt="" />
        </div>
        <div class="nameContainers">
          <h3>Top Deals</h3>
        </div>
      </div>
    </section>
  </main>

  <!-- footer -->
  <footer>
    <section class="footerSection">
      <div class="footertopContainer">
        <div class="footerheadingCont">
          <img src="./img/footer/footerheading.png" alt="Bite Route" draggable="false" />
          <div class="footersideheadingCont">
            <img src="./img/footer/flag.png" alt="flag" draggable="false" />
            <h3>India</h3>
          </div>
        </div>
      </div>
      <div class="footerbottomContainer">
        <div class="footercontentCont">
          <div class="footerheadings">
            <h2>About Us</h2>
            <p>Our website is designed with user-friendliness in mind,
              ensuring that ordering food is a hassle-free experience for
              everyone. Upon landing on our homepage, you'll be greeted with a
              visually appealing and intuitive interface that makes navigating
              through various options a breeze . Discover the ultimate
              convenience of our food delivery website. Browse a wide range of
              cuisines, customize your order, and enjoy prompt, hot, and
              hassle-free deliveries to your doorstep.</p>
          </div>
          <div class="footerheadings">
            <h2>Social Links</h2>
            <div class="footerlinkContainer">
              <div class="footerlinks">
                <a href="https://www.facebook.com/"><img src="./img/footer/facebook.svg" alt="facebook" draggable="false" /></a>
              </div>
              <div class="footerlinks">
                <a href="https://www.instagram.com/"><img src="./img/footer/instagram.svg" alt="instagram" draggable="false" /></a>
              </div>
              <div class="footerlinks">
                <a href="https://www.linkedin.com/"><img src="./img/footer/linkedin.svg" alt="linkedin" draggable="false" /></a>
              </div>
            </div>
          </div>
          <div class="footerheadings">
            <h2>Contact Us</h2>
            <div class="footerdatas">
              <h6>(+91) 7814677153</h6>
              <h6>xpresskaran98@gmail.com</h6>
              <a href="/home">
                <h6>&copy; BiteRoute.com</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</body>

</html>