<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./img/brand/favicon.ico" type="image/x-icon">
  <!-- Title -->
  <title>Bite Route - Sign In</title>
  <!-- CSS -->
  <link rel="stylesheet" href="./css/signin_login.css" />
  <!-- Js -->
  <script defer src="./js/login.js"></script>
</head>

<body>
  <!-- Message -->
  <div class="msgContainer" id="msgCont">
    <div class="innerMsgCont">
      <span>
        <%= msg%>
      </span>
    </div>
  </div>

  <!-- Login -->
  <div class="login_mainContainer">
    <div class="innerContainer">
      <div class="leftContainer">
        <div class="headingContainer">
          <h1>Login</h1>
        </div>
        <form action="/login/user" method="post" class="formCont">
          <div class="inputContainer">
            <label for="username">Name</label>
            <input type="text" name="username" id="username" placeholder="e.g: Biteroute" autocomplete="off" />
          </div>
          <div class="inputContainer">
            <label for="email">Email</label>
            <input type="email" name="email" id="useremail" placeholder="e.g: biteroute@gmail.com" autocomplete="off" />
          </div>
          <div class="inputContainer">
            <label for="phone">Phone Number</label>
            <input type="number" name="phone" id="usermobilenum" placeholder="(+91)000-0000-000" autocomplete="off" />
          </div>
          <div class="inputContainer">
            <label for="dob">Date of Birth</label>
            <input type="date" name="dob" id="userdob" />
          </div>
          <div class="inputContainer">
            <label for="password">Password</label>
            <input type="password" name="password" id="userpassword" placeholder="it's a secret" autocomplete="off" />
          </div>
          <div class="inputContainer">
            <input type="submit" value="Login" class="formInpBtn" />
          </div>
        </form>
        <div class="linkContainer">
          <span>Don't have account <a href="/signin">Create now</a></span>
        </div>
      </div>
      <div class="rightContainer">
        <div class="rightContInner">
          <div class="rightContHeading">
            <h2>BiteRoute.com</h2>
          </div>
          <div class="videoContainer">
            <video src="./img/signIn_login/login_sidevideo.mp4" autoplay loop muted></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>