@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
/* font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');
/* font-family: 'Chakra Petch', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
/* font-family: 'Crete Round', serif; */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* font-family: 'Special Elite', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.msgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    transition: all 0.35s linear;
}

.msgContainer .innerMsgCont {
    background-color: bisque;
    border: 2px solid black;
    padding: 5px 7px;
}

.innerMsgCont span {
    color: black;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1em;
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/signIn_login/bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/signIn_login/login_bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.innerContainer {
    border-radius: 5px;
    box-shadow: 0 0 6px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.227);
}

.innerContainer .leftContainer {
    padding: 2px;
}

.leftContainer .headingContainer {
    padding: 5px 2px;
    margin: 1px;
}

.headingContainer h1 {
    font-size: 3.1em;
    text-transform: capitalize;
    font-family: 'Caveat', cursive;
    color: black;
}

.leftContainer .formCont {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 1px;
}

.formCont .inputContainer {
    padding: 5px;
    margin: 1px 2px;
}

.inputContainer label {
    font-size: 1.2em;
    text-transform: capitalize;
    font-family: 'Chakra Petch', sans-serif;
    color: black;
    margin-right: 10px;
}

.inputContainer input {
    outline: none;
    padding: 5px 8px;
    font-size: 1.1em;
    font-family: 'Crete Round', serif;
}

.formInpBtn {
    background-color: #72af6a;
    padding: 7px;
    border: 2px solid #72af6a;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.2em;
    color: white;
}

.linkContainer {
    padding: 2px 5px;
    margin: 2px 4px;
}

.linkContainer span {
    color: black;
    font-size: 1.1em;
    font-family: sans-serif;
}

.linkContainer a {
    color: #e92d47;
    font-size: 1.1em;
    font-weight: 900;
    font-family: sans-serif;
    text-decoration: underline;
    text-transform: capitalize;
}

.innerContainer .rightContainer {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rightContInner .videoContainer {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 10px;
}

.videoContainer video {
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

.rightContInner .rightContHeading {
    text-align: center;
    padding: 5px;
    margin: 1px;
    position: absolute;
}

.rightContHeading h2 {
    padding: 0 6px;
    margin: 0 5px;
    font-size: 1.7em;
    font-family: 'Special Elite', cursive;
    text-transform: none;
    color: #d6d5d3;
}

@media (max-width: 446px) {
    .mainContainer {
        background: url(../img/signIn_login/bg_mob.avif);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .headingContainer {
        text-align: center;
    }
    
    .headingContainer h1 {
        font-size: 3.1em;
        text-transform: capitalize;
        font-family: 'Caveat', cursive;
        color: #080808;
    }    

    .formInpBtn {
        background-color: #e92d47;
        border: 2px solid #e92d47;
        color: rgb(255, 255, 255);
    }

    .rightContainer {
        display: none;
    }
}